@model IEnumerable<Product>



@foreach(var product in Model)
{
    <div class="col-lg-3 col-md-6">
            <div class="row p-2"> 
                 <div class="col-12" style="border:1px solid #008bca;border-radius:5px;"> 
                     <div >
                        
                         <h3> @product.Name</h3>
                         
                         </div>

            </div>
            </div>
           
        </div>
       
}


<h2> Hello</h2>